.container1 {
    display: flex;
    height: 100%;
    align-items: flex-start;
}

.profile-image {
    align-self: flex-start;
    justify-content: left;
}

.profile-user-settings {
    align-items: center;
}

.profile-stats {
    align-items: center;
}

.profile-bio {
    align-items: flex-start;
}

.container2 {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.gallery-image {
    max-width: 200px;
    height: 250px;
}